/* Buttons Issues/Glitches fixes */
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

.button.check-button:before {
	display: none !important;
}
.button.check-button[aria-pressed="true"] {
	box-shadow: none !important;
}
.button.check-button.icon-button:not(.collapsible-button) {
	background-position: center !important;
}

.button-group {
	border: none !important;
	margin: 0 !important;
}

.unified-toolbar-button {
	justify-content: center !important;
}

.toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
	align-items: center !important;
	justify-content: center !important;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker::before,
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button::after {
	display: none !important;
}

/* Menulist */
link[href="chrome://global/skin/menulist.css"] ~ dropmarker {
	align-items: center !important;
	margin-inline-start: 3px;
}

/* Spaces toolbar */
.spaces-toolbar-button.current,
.spaces-toolbar-button.current:hover {
	background-color: var(--spaces-button-active-bg-color) !important;
}

.spaces-toolbar-button:not([hidden]) {
	align-items: center;
	justify-content: center;
	display: flex !important;
}

/* App menu */
#appMenu-fontSizeReset-button {
	flex: unset !important;
}
#appMenu-fontSizeReset-button > .toolbarbutton-text {
	border: 0 !important;
	padding: 0 !important;
	min-width: 0 !important;
}
#appMenu-fontSizeReset-button:hover > .toolbarbutton-text {
	background: none !important;
}

/* Calendar buttons */
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button,
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button > .toolbarbutton-menubutton-button,
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button > .toolbarbutton-menubutton-dropmarker {
	background-image: none !important;
}
.miniday-nav-buttons:active,
#miniday-dropdown-button:is(:active, [open]),
#todaypane-new-event-button:active {
	box-shadow: none !important;
}

#todaypane-new-event-button[disabled="true"] > .toolbarbutton-icon {
	opacity: 1 !important;
}

/* Message buttons */
.toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.toolbarbutton-1:not([is="toolbarbutton-menu-button"],[disabled="true"]):is([open="true"],[checked="true"],:hover:active) {
	box-shadow: none !important;
}
