/* Buttons */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Buttons */
.button,
.message-header-view-button:not([is="toolbarbutton-menu-button"]),
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button,
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker,
.close-icon,
button.calview-toggle-item,
.nav-button,
.today-pane-cycler,
#unifiedToolbar toolbarbutton:not(.subviewbutton),
#unifiedToolbar .unified-toolbar-button,
#starMessageButton,
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton,
.spaces-toolbar-button {
	-moz-appearance: none !important;
	background-color: var(--gnome-button-background) !important;
	border-radius: 6px !important;
	border: 0 !important;
	padding: 0 1px !important;
	height: 34px !important;
	max-height: 34px !important;
	min-height: 34px !important;
	min-width: 34px !important;
	color: var(--gnome-toolbar-color) !important;
	outline: 0 !important;
	font: menu !important;
	-moz-box-align: center !important;
	transition: background .3s;
}
.subviewbutton-iconic {
	-moz-box-pack: center !important;
}

/* Flat Buttons */
.button.button-flat,
.button.icon-button:not(.button-group .button),
.message-header-view-button:not([is="toolbarbutton-menu-button"]),
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button,
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker,
.close-icon,
button.calview-toggle-item,
.today-pane-cycler,
.nav-button,
#unifiedToolbar toolbarbutton:not(.subviewbutton),
#starMessageButton,
.icons-only #unifiedToolbar .unified-toolbar-button,
.icons-beside-text #unifiedToolbar .unified-toolbar-button,
.spaces-toolbar-button {
	background-color: transparent !important;
	transition: background .3s;
}

/* Buttons with margins */
.message-header-view-button:not([is="toolbarbutton-menu-button"]),
.close-icon,
.nav-button,
#quick-filter-bar .button,
#unifiedToolbar toolbarbutton:not(.subviewbutton),
#unifiedToolbar .unified-toolbar-button,
#starMessageButton {
	margin: 0 3px !important;
}
.close-icon:not(.tab-close-button) {
	margin-left: 6px !important;
}

/* Text buttons */
.button:not(.icon-only),
button.calview-toggle-item,
.text-only #unifiedToolbar .unified-toolbar-button,
#appMenu-fontSizeReset-button:not(#hack) {
	padding: 2px 15px !important;
	font-weight: bold !important;
}
.text-only #unifiedToolbar .unified-toolbar-button {
	text-align: center !important;
}

/* Text and icon buttons */
.button.icon-button,
.message-header-view-button:not([is="toolbarbutton-menu-button"]),
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button,
.icons-beside-text #unifiedToolbar .unified-toolbar-button {
	padding: 2px 9px !important;
	font-weight: bold !important;
}
.button.icon-button:not(.icon-only, #quick-filter-bar .button) {
	padding-inline-start: calc(9px * 1.5 + var(--icon-size)) !important;
	background-position: 9px center !important;
}
.toolbarbutton-1.message-header-view-button:not([is="toolbarbutton-menu-button"]),
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button {
	gap: 3px;
}
.icons-beside-text #unifiedToolbar .unified-toolbar-button .button-icon {
	margin-inline-end: 3px !important;
}

/* Collapsible */
.button.collapsible-button {
	background-position: 9px center !important;
}

@container threadPane (min-width: 999px) {
	.button.collapsible-button {
		font-weight: bold !important;
		padding: 2px 15px !important;
		padding-inline-start: calc(9px * 1.5 + var(--icon-size)) !important;
	}
}

/* Hover buttons */
.button:not([disabled="true"]):hover,
#unifiedToolbar .unified-toolbar-button:hover,
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton:not([disabled="true"]):hover {
	outline: 0 !important;
	background-color: var(--gnome-button-hover-background) !important;
}

/* Hover flat buttons */
.button.button-flat:not([disabled="true"], [aria-pressed="true"]):hover,
.button.icon-button:not(.button-group .button):not([disabled="true"], [aria-pressed="true"]):hover,
.message-header-view-button:not([is="toolbarbutton-menu-button"]):not([disabled="true"], [open]):hover,
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]):hover > .toolbarbutton-menubutton-button:not([disabled="true"]),
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]):hover > .toolbarbutton-menubutton-dropmarker:not([disabled="true"], [open]),
.close-icon:not([disabled="true"]):hover,
button.calview-toggle-item:not([disabled="true"]):hover,
.today-pane-cycler:not([disabled="true"]):hover,
.nav-button:not([disabled="true"]):hover,
#unifiedToolbar toolbarbutton:not(.subviewbutton):not([open]):not([disabled="true"]):not([checked]):hover,
#starMessageButton:not([disabled="true"]):hover,
.icons-only #unifiedToolbar .unified-toolbar-button:hover,
.icons-beside-text #unifiedToolbar .unified-toolbar-button:hover,
.spaces-toolbar-button:hover {
	outline: 0 !important;
	background-color: var(--gnome-hover-color) !important;
}

/* Active buttons */
.button:active,
.button[open],
.button.check-button[aria-pressed="true"],
#unifiedToolbar .unified-toolbar-button:active,
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton:not([disabled="true"]):is(:active, [checked="true"]) {
	background-color: var(--gnome-button-active-background) !important;
}

/* Active flat buttons */
.button.button-flat:not([disabled="true"]):active,
.button.button-flat.check-button[aria-pressed="true"],
.button.icon-button:not(.button-group .button):not([disabled="true"]):active,
.button.icon-button.check-button:not(.button-group .button):not([disabled="true"])[aria-pressed="true"],
.message-header-view-button:not([is="toolbarbutton-menu-button"]):is(:active, [open]),
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button:not([disabled="true"]):active,
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker:is(:active, [open]),
.close-icon:not([disabled="true"]):active,
.today-pane-cycler:not([disabled="true"]):active,
.nav-button:not([disabled="true"]):active,
#unifiedToolbar toolbarbutton:not(.subviewbutton):not([disabled="true"]):not(#hack):active,
#unifiedToolbar toolbarbutton:not(.subviewbutton):not(.subviewbutton):not([disabled="true"])[open],
#unifiedToolbar toolbarbutton:not(.subviewbutton):not([disabled="true"])[checked],
#starMessageButton:active,
.icons-only #unifiedToolbar .unified-toolbar-button:active,
.icons-beside-text #unifiedToolbar .unified-toolbar-button:active,
.spaces-toolbar-button:active {
	background-color: var(--gnome-active-color) !important;
}

/* Disabled buttons */
.button[disabled="true"],
.close-icon[disabled="true"],
.nav-button:[disabled="true"],
#unifiedToolbar toolbarbutton:not(.subviewbutton)[disabled="true"],
#unifiedToolbar .unified-toolbar-button[disabled="true"] {
	opacity: .5 !important;
}

/* Inactive window buttons */
.button:-moz-window-inactive,
#unifiedToolbar toolbarbutton:not(.subviewbutton):-moz-window-inactive,
#unifiedToolbar .unified-toolbar-button:-moz-window-inactiven,
.spaces-toolbar-button:-moz-window-inactiven {
	background-color: var(--gnome-inactive-button-background) !important;
	box-shadow: var(--gnome-inactive-button-box-shadow) !important;
	border-color: var(--gnome-inactive-button-border-color) !important;
}

/* Circle buttons */
#downloadsPanel-mainView .download-state .downloadButton,
.permission-popup-permission-remove-button:not(#hack) {
	border-radius: 100% !important;
}

/* Combined buttons */
.button-group .button:not(:last-of-type):not(#hack),
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton:not(:last-of-type),
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right-width: 0 !important;
	margin-right: 0 !important;
}

.button-group .button:not(:first-of-type):not(#hack),
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton:not(:first-of-type),
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	margin-left: 0 !important;
}

.button-group .button {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* Split buttons (flat) */
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button {
	position: relative !important;
}
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker {
	min-width: 24px !important;
	width: 24px !important;
}
#messageHeader .toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button::after {
	border-right: 1px solid var(--gnome-border-color);
	content: "";
	height: 22px;
	position: absolute;
	right: 0;
	top: 6px;
}

/* Opaque buttons */
.button.button-primary {
	color: white !important;
	font-weight: bold !important;
}

/* Buttons with suggested action */
.button.button-primary:not(#hack) {
	background-color: var(--gnome-button-suggested-action-background) !important;
}

/* Buttons with destructive action */
#editBookmarkPanelRemoveButton,
#PanelUI-panic-view-button {
	background-color: var(--gnome-button-destructive-action-background) !important;
}

/* Opaque buttons hover */
.button.button-primary:not(#hack):hover {
	background-color: var(--gnome-button-suggested-action-background) !important;
	filter: brightness(110%);
}

/* Opaque buttons active */
.button.button-primary:not(#hack):active {
	filter: brightness(80%);
}
