/* Buttons */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Buttons */
.button,
.toolbarbutton-1:not([is="toolbarbutton-menu-button"]),
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button,
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker,
link[href="chrome://global/content/elements/moz-button.css"] + button,
menulist,
.dialog-button-box button,
.close-icon,
.nav-button,
.miniday-nav-buttons,
button.calview-toggle-item,
button.button-menu-list,
.notification-button:not(.button-menu-list),
.notification-close,
.today-pane-cycler,
.address-pill,
#unifiedToolbar toolbarbutton:not(.subviewbutton),
#unifiedToolbar .unified-toolbar-button,
#starMessageButton,
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton,
#calendar-add-task-button,
#miniday-dropdown-button,
#todaypane-new-event-button,
.spaces-toolbar-button,
#offline-status,
#spacesToolbarReveal,
#calendar-status-todaypane-button {
	-moz-appearance: none !important;
	align-items: center !important;
	background-color: var(--gnome-button-background) !important;
	border-radius: var(--gnome-button-radius) !important;
	border: 0 !important;
	color: var(--gnome-window-color) !important;
	font: menu !important;
	font-weight: bold !important;
	justify-content: center !important;
	max-height: var(--gnome-button-size) !important;
	min-height: var(--gnome-button-size) !important;
	min-width: var(--gnome-button-size) !important;
	outline: 0 !important;
	padding: 0 1px !important;
	transition: background var(--gnome-animation-time);	
	-moz-box-align: center !important;	

	&:not([disabled="true"]) {
		/* Hover buttons */
		&:hover {
			outline: 0 !important;
			background-color: var(--gnome-button-hover-background) !important;
		}
		/* Active buttons */
		&:active, &.active {
			background-color: var(--gnome-button-active-background) !important;
		}
		/* Checked buttons */
		&[selected], &[checked], &[open] {
			background-color: var(--gnome-button-checked-background) !important;
			
			&:hover {
				background-color: var(--gnome-button-checked-hover-background) !important;
			}
			&:active {
				background-color: var(--gnome-button-checked-active-background) !important;
			}
		}
	}

	/* Disabled buttons */
	&[disabled="true"] {
		opacity: 0.5 !important;
	}
	
	&[_moz-menuactive] {
		outline: 2px solid var(--gnome-focus-border-color) !important;
		outline-offset: -2px !important;
	}
}
.subviewbutton-iconic {
	-moz-box-pack: center !important;
}

/* Flat Buttons */
.button.button-flat,
.button.icon-button:not(.button-group .button, .button-primary),
.toolbarbutton-1:not([is="toolbarbutton-menu-button"]),
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button,
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker,
link[href="chrome://global/content/elements/moz-button.css"] + button[type~="icon"],
.dialog-button-box button,
.close-icon,
button.calview-toggle-item,
.notification-close,
.today-pane-cycler,
.nav-button,
.miniday-nav-buttons,
#unifiedToolbar toolbarbutton:not(.subviewbutton),
#starMessageButton,
#calendar-add-task-button,
#todaypane-new-event-button,
#miniday-dropdown-button,
.icons-only #unifiedToolbar .unified-toolbar-button,
.icons-beside-text #unifiedToolbar .unified-toolbar-button,
.spaces-toolbar-button,
#offline-status,
#spacesToolbarReveal,
#calendar-status-todaypane-button {
	--gnome-button-background: transparent !important;
	transition: background var(--gnome-animation-time);

	&:not([disabled="true"]):not(#hack) {
		/* Hover buttons */
		&:hover {
			background-color: var(--gnome-hover-color) !important;
		}
		/* Active buttons */
		&:active {
			background-color: var(--gnome-active-color) !important;
		}
		/* Checked buttons */
		&[selected], &[checked], &[open] {
			background-color: var(--gnome-selected-color) !important;
			
			&:hover {
				background-color: var(--gnome-selected-hover-color) !important;
			}
			&:active {
				background-color: var(--gnome-selected-active-color) !important;
			}
		}
	}
}

/* Buttons with suggested action */
.button.button-primary {
	--gnome-button-background: var(--gnome-button-suggested-background) !important;
	--gnome-button-hover-background: var(--gnome-button-suggested-background) !important;
	--gnome-button-active-background: var(--gnome-button-suggested-background) !important;
	color: white !important;

	&:not([disabled="true"]) {
		&:hover {
			filter: brightness(110%);
		}
		&:active {
			filter: brightness(120%);
		}
	}
}

/* Buttons with destructive action */
#editBookmarkPanelRemoveButton,
#PanelUI-panic-view-button {
	--gnome-button-background: var(--gnome-button-destructive-background) !important;
	--gnome-button-hover-background: var(--gnome-button-destructive-hover-background) !important;
	--gnome-button-active-background: var(--gnome-button-destructive-active-background) !important;
	color: var(--gnome-destructive) !important;
}

/* Buttons with margins */
.message-header-view-button:not([is="toolbarbutton-menu-button"]),
toolbar .toolbarbutton-1,
.close-icon,
.nav-button,
.miniday-nav-buttons,
button.button-menu-list,
.notification-button:not(.button-menu-list),
.notification-close,
#calendar-add-task-button,
#event-filter-menulist,
#miniday-dropdown-button,
#quick-filter-bar .button,
#unifiedToolbar toolbarbutton:not(.subviewbutton),
#unifiedToolbar .unified-toolbar-button,
#starMessageButton {
	margin: 0 3px !important;
}
.close-icon:not(.tab-close-button) {
	margin-left: 6px !important;
}

/* Text buttons */
.button:not(.icon-only),
.dialog-button-box button,
button.calview-toggle-item,
.notification-button:not(.button-menu-list),
.text-only #unifiedToolbar .unified-toolbar-button,
.address-pill,
#appMenu-fontSizeReset-button:not(#hack) {
	padding: 2px 15px !important;
}
.text-only #unifiedToolbar .unified-toolbar-button {
	text-align: center !important;
}

/* Text and icon buttons */
.button.icon-button,
.toolbarbutton-1:not([is="toolbarbutton-menu-button"]),
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button,
.icons-beside-text #unifiedToolbar .unified-toolbar-button,
#calendar-add-task-button,
#todaypane-new-event-button,
menulist:not(#hack),
button.button-menu-list,
#calendar-status-todaypane-button {
	padding: 2px 9px !important;
}
.button.icon-button:not(.icon-only, #quick-filter-bar .button) {
	padding-inline-start: calc(9px * 1.5 + var(--icon-size)) !important;
	background-position: 9px center !important;
}
button.button-menu-list {
	padding-inline-end: calc(9px * 1.5 + var(--icon-size)) !important;
	background-position: right 9px center !important;
}
.toolbarbutton-1:not([is="toolbarbutton-menu-button"]),
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button {
	gap: 3px;
}
.icons-beside-text #unifiedToolbar .unified-toolbar-button .button-icon {
	margin-inline-end: 3px !important;
}

/* Collapsible */
.button.collapsible-button {
	background-position: 9px center !important;
}

@container threadPane (min-width: 999px) {
	.button.collapsible-button {
		font-weight: bold !important;
		padding: 2px 15px !important;
		padding-inline-start: calc(9px * 1.5 + var(--icon-size)) !important;
	}
}

/* Circle buttons */
#downloadsPanel-mainView .download-state .downloadButton,
.permission-popup-permission-remove-button:not(#hack) {
	border-radius: 100% !important;
}

/* Combined buttons */
.button-group .button:not(:last-of-type):not(#hack),
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton:not(:last-of-type) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right-width: 0 !important;
	margin-right: 0 !important;
}

.button-group .button:not(:first-of-type):not(#hack),
#appMenu-popup .toolbaritem-combined-buttons .subviewbutton:not(:first-of-type) {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	margin-left: 0 !important;
}

.button-group .button {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* Split buttons (flat) */
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) {
	border-radius: 6px !important;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]):hover {
	background-color: var(--gnome-hover-color) !important;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button {
	position: relative !important;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker {
	min-width: 24px !important;
	width: 24px !important;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button::before {
	border-right: 1px solid var(--gnome-border-color);
	content: "";
	height: 22px;
	position: absolute;
	right: 0;
	top: 6px;
	transition: opacity .3s;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]):hover > .toolbarbutton-menubutton-button::before {
	opacity: 0;
}

/* Compact buttons */
.thread-card-last-row .button,
#threadTree tr.card-layout .tree-button-more,
#offline-status,
#spacesToolbarReveal,
#calendar-status-todaypane-button {
	padding-top: 0 !important;
	padding-bottom: : 0 !important;
	height: 22px !important;
	max-height: 22px !important;
	min-height: 22px !important;
	min-width: 22px !important;
}
