/* Calendar */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Main */
#primaryButtonSidePanel, #unifinder-searchBox, #calendarViewHeader, #task-addition-box {
	background: var(--gnome-toolbar-background) !important;
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
	height: auto !important;
	min-height: auto !important;
	padding: 6px 3px !important;
}
#calendarViewHeader {
	padding-inline-start: 6px !important;
}

#bottom-events-box {
	border: 0 !important;
}

.navigation-inner-box {
	padding: 0 !important;
}

#view-box {
	background: var(--gnome-view-background) !important;
}

calendar-month-view, calendar-multiweek-view {
	padding: 0 !important;
}

.monthtable {
	border: 0 !important;
}
.monthtable thead :is(td, th) > * {
	border-top: 0 !important;
}
.monthtable :is(td, th):first-child > * {
	border-left: 0 !important;
}
.monthtable :is(td, th):last-child > * {
	border-right: 0 !important;
}

.calendar-month-day-box-current-month[relation="today"][selected="true"],
.calendar-month-day-box-day-off[relation="today"][selected="true"],
.calendar-month-day-box-other-month[relation="today"][selected="true"] {
	background-color: var(--viewTodayBackground) !important;
}
.calendar-month-day-box-current-month[selected="true"] {
	background-color: var(--viewBackground) !important;
}
.calendar-month-day-box-day-off[selected="true"] {
	background-color: var(--viewWeekendBackground) !important;;
}

.calendar-month-day-box-current-month[selected="true"],
.calendar-month-day-box-day-off[selected="true"],
.calendar-month-day-box-other-month[selected="true"] {
	background-image: linear-gradient(var(--gnome-view-selected-background), var(--gnome-view-selected-background)) !important;
	border-color: var(--viewBorderColor) !important;
}

/* Sidebar */
#minimonth-pane {
	padding: 12px !important;
}

#calMinimonthBox {
	margin: 0 !important;
	min-width: auto !important;
}

calendar-minimonth {
	--mmMainBorderRadius: 12px !important;
	--mmMainBackground: var(--gnome-card-background) !important;
	--mmDayTodayBackground: var(--gnome-accent-bg) !important;
	--mmDayTodayColor: white !important;
	--mmDaySelectedColor: var(--gnome-view-color) !important;
	--mmHighlightColor: var(--gnome-view-color) !important;
	border: 0 !important;
	box-shadow: var(--gnome-card-shadow);
	min-width: auto !important;
	padding: 12px !important;
	width: auto !important;
}
.minimonth-cal-box {
	border-spacing: 6px !important;
	padding: 0 !important;
}
.minimonth-week {
	background: none !important;
	color: var(--gnome-window-color) !important;
}

.minimonth-nav-section {
	background: none !important;
}

.minimonth-nav-item {
	border-inline: 0 !important;
}

.minimonth-day {
	border: 0 !important;
	border-radius: 100% !important;
	padding: 9px 0 !important;
}
.minimonth-week,
.minimonth-week:not([hidden]) ~ .minimonth-day {
	padding: 5.5px 0 !important;
}

.minimonth-day[today="true"] {
	--mmDayBusyColor: white !important;
	--mmDaySelectedColor: white !important;
	--mmHighlightColor: white !important;
	background-color: var(--gnome-accent-bg) !important;
}
.minimonth-day:hover[interactive]:not([selected="true"], [today="true"]) {
	background-color: var(--gnome-hover-color) !important;
}
.minimonth-day:active[interactive]:not([today="true"]) {
	background-color: var(--gnome-active-color) !important;
}
.minimonth-day[selected="true"][interactive]:not([today="true"]) {
	background-color: var(--gnome-selected-color) !important;
}
.minimonth-day[selected="true"] {
	outline: 2px solid var(--gnome-accent-bg) !important;
	outline-offset: -2px;
}

#calendar-list > li {
	border-radius: 6px !important;
}
#calendar-list > li:not(.selected):hover {
	background-color: var(--gnome-hover-color) !important;
}
#calendar-list > li.selected,
#calendar-list:focus-within > li.selected {
	appearance: none !important;
	background-color: var(--gnome-selected-color) !important;
	color: inherit !important;
}

#calendar-panel {
	padding: 0 !important;
}

#sideButtonsBottom {
	padding: 6px 3px !important;
}

/* Today */
#today-pane-header {
	font-weight: bold !important;
}

/* Tasks */
#todo-tab-panel, #unifinder-todo-tree {
	background-color: var(--gnome-window-background) !important;	
}

#unifinder-task-edit-field {
	margin: 3px 6px !important;
}

/* Hide new task button */
#calSidebar:not([collapsed="true"]) ~ #calendarDisplayBox #calendar-add-task-button  {
	visibility: collapse !important;
}
