/* Calendar */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Main */
#primaryButtonSidePanel,
#unifinder-searchBox,
#calendarViewHeader,
#mini-day-box,
#agenda-toolbar,
#task-addition-box,
#other-actions-box,
#calendar-task-details-box {
	background-color: var(--gnome-toolbar-background) !important;
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
	height: auto !important;
	min-height: auto !important;
	padding: 6px 3px !important;
}
#calendarViewHeader {
	padding-inline-start: 6px !important;
}
#mini-day-image {
	background: none !important;
}
#mini-day-box {
	border-bottom: 0 !important;
}

#bottom-events-box {
	border: 0 !important;
}

.navigation-inner-box {
	padding: 0 !important;
}

#view-box {
	background: var(--gnome-view-background) !important;
}

calendar-month-view, calendar-multiweek-view {
	padding: 0 !important;
}

.monthtable {
	border: 0 !important;
}
.monthtable thead :is(td, th) > * {
	border-top: 0 !important;
}
.monthtable :is(td, th):first-child > * {
	border-left: 0 !important;
}
.monthtable :is(td, th):last-child > * {
	border-right: 0 !important;
}

.calendar-month-day-box-current-month[relation="today"][selected="true"],
.calendar-month-day-box-day-off[relation="today"][selected="true"],
.calendar-month-day-box-other-month[relation="today"][selected="true"] {
	background-color: var(--viewTodayBackground) !important;
}
.calendar-month-day-box-current-month[selected="true"] {
	background-color: var(--viewBackground) !important;
}
.calendar-month-day-box-day-off[selected="true"] {
	background-color: var(--viewWeekendBackground) !important;;
}

.calendar-month-day-box-current-month[selected="true"],
.calendar-month-day-box-day-off[selected="true"],
.calendar-month-day-box-other-month[selected="true"] {
	background-image: linear-gradient(var(--gnome-view-selected-background), var(--gnome-view-selected-background)) !important;
	border-color: var(--viewBorderColor) !important;
}

/* Sidebar */
#minimonth-pane {
	padding: 12px !important;
}

#calMinimonthBox {
	margin: 0 !important;
	min-width: auto !important;
}

calendar-minimonth {
	--mmMainBorderRadius: 12px !important;
	--mmMainBackground: var(--gnome-card-background) !important;
	--mmDayTodayBackground: var(--gnome-accent-bg) !important;
	--mmDayTodayColor: white !important;
	--mmDaySelectedColor: var(--gnome-view-color) !important;
	--mmHighlightColor: var(--gnome-view-color) !important;
	border: 0 !important;
	box-shadow: var(--gnome-card-shadow);
	min-width: auto !important;
	padding: 12px !important;
	width: auto !important;
}
.minimonth-cal-box {
	border-spacing: 6px !important;
	padding: 0 !important;
}
.minimonth-week {
	background: none !important;
	color: var(--gnome-window-color) !important;
}

.minimonth-nav-section {
	background: none !important;
}

.minimonth-nav-item {
	border-inline: 0 !important;
}

.minimonth-day {
	border: 0 !important;
	border-radius: 100% !important;
	padding: 9px 0 !important;
}
.minimonth-week,
.minimonth-week:not([hidden]) ~ .minimonth-day {
	padding: 5.5px 0 !important;
}

.minimonth-day[today="true"] {
	--mmDayBusyColor: white !important;
	--mmDaySelectedColor: white !important;
	--mmHighlightColor: white !important;
	background-color: var(--gnome-accent-bg) !important;
}
.minimonth-day:hover[interactive]:not([selected="true"], [today="true"]) {
	background-color: var(--gnome-hover-color) !important;
}
.minimonth-day:active[interactive]:not([today="true"]) {
	background-color: var(--gnome-active-color) !important;
}
.minimonth-day[selected="true"][interactive]:not([today="true"]) {
	background-color: var(--gnome-selected-color) !important;
}
.minimonth-day[selected="true"] {
	outline: 2px solid var(--gnome-accent-bg) !important;
	outline-offset: -2px;
}

#calendar-panel {
	padding: 0 !important;
}

#calendarListHeader,
checkbox.treenode-checkbox {
	border-radius: 6px !important;
	margin: 0 6px !important;
	padding: 9px !important;
}
#calendarListHeader:hover,
checkbox.treenode-checkbox:hover {
	background-color: var(--gnome-hover-color) !important;
}
#calendarListHeader > span,
checkbox.treenode-checkbox > .checkbox-label-box > label {
	font-size: 9pt !important;
	font-weight: bold !important;
	opacity: .55 !important;
}
checkbox.treenode-checkbox > .checkbox-label-box {
	margin: 0 !important;
}
checkbox.treenode-checkbox > .checkbox-check {
	margin: 0 !important;
	order: 2 !important;
}
#task-tree-filtergroup {
	padding: 6px 9px !important;	
}

#calendar-list {
	padding: 0 6px !important;
}
#calendar-list > li {
	border-radius: 6px !important;
	margin: 2px 0 !important;
	padding: 3px 9px !important;
}
#calendar-list > li:not(.selected):hover {
	background-color: var(--gnome-hover-color) !important;
}
#calendar-list > li.selected,
#calendar-list:focus-within > li.selected {
	appearance: none !important;
	background-color: var(--gnome-selected-color) !important;
	color: inherit !important;
}

#calendar-list > :is(li, richlistitem) > .calendar-color {order: 0 !important;}
#calendar-list > li > .calendar-name {order: 1 !important;}
#calendar-list > li > button.calendar-enable-button {order: 4 !important;}
#calendar-list > li > .calendar-displayed {order: 5 !important;}
#calendar-list > li > .calendar-more-button {order: 6 !important;}

#calendar-list > li > button.calendar-enable-button {
	background-color: var(--gnome-button-background) !important;
	border: 0 !important;
	padding: 6px 9px !important;
}
#calendar-list > li > button.calendar-enable-button:hover {
	background-color: var(--gnome-button-hover-background) !important;
}
#calendar-list > li > button.calendar-enable-button:active {
	background-color: var(--gnome-button-active-background) !important;
}

#calendar-list > li > .calendar-readstatus,
#calendar-list > li > .calendar-mute-status {
	display: none !important;
}
#calendar-list > li[calendar-readonly]::after,
#calendar-list > li[calendar-readonly]::before {
	opacity: .55;
}
#calendar-list > li[calendar-readonly]::before {
	order: 2;
}
#calendar-list > li[calendar-muted]::after {
	order: 3;
}

#sideButtonsBottom {
	padding: 6px 3px !important;
}

/* Agenda */
#today-pane-header {
	font-weight: bold !important;
}
#buttonspacer {
	visibility: collapse !important;
}

#agenda {
	background-color: var(--gnome-window-background) !important;
	border: 0 !important;
	padding: 6px !important;
}
#agenda-toolbar {
	justify-content: center !important;
}
#weekdayNameLabel {
	align-items: end !important;
}

.agenda-date-header {
	background: none !important;
}
.agenda-listitem-details {
	border-radius: 6px !important;
}
.agenda-listitem-details:not(.agenda-listitem-all-day > .agenda-listitem-details):hover {
	background-color: var(--gnome-hover-color) !important;
}
.agenda-listitem-details:is(.agenda-listitem-all-day > .agenda-listitem-details):hover {
	filter: brightness(110%);
}

#miniday-month-panel calendar-minimonth {
	box-shadow: none !important;
	border-radius: 12px !important;
}

/* Tasks */
#todo-tab-panel, #unifinder-todo-tree {
	background-color: var(--gnome-window-background) !important;	
}

#unifinder-task-edit-field {
	margin: 3px 6px !important;
}

#calendar-task-tree,
#calendar-task-details-description {
	background: var(--gnome-view-background) !important;
}

#calendar-task-details-container {
	padding: 0 !important;
}

#calendar-task-details-description {
	border: 0 !important;
	padding: 0 !important;
}

/* Hide new task button */
#calSidebar:not([collapsed="true"]) ~ #calendarDisplayBox #calendar-add-task-button  {
	visibility: collapse !important;
}
