/* Controls */
/* Switchers, Checkboxes, etc. */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Switchers */
.protections-popup-tp-switch-box {
	padding: 0 !important;
	-moz-box-pack: start !important;
}
#protections-popup-tp-switch:not([enabled])[showdotindicator]::after {
	display: none !important;
}
#protections-popup-tp-switch {
	background: var(--gnome-switch-background) !important;
	border: 0 !important;
	border-radius: 24px !important;
	min-width: 48px !important;
	width: 48px !important;
	min-height: 26px !important;
	padding: 0 !important;
	position: relative !important;
	display: block !important;
	margin: 0 !important;
}
#protections-popup-tp-switch::before {
	position: absolute !important;
	top: 2px;
	left: 2px;
	background: var(--gnome-switch-slider-background) !important;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	border: 0 !important;
	border-radius: 24px !important;
	height: 22px !important;
	width: 22px !important;
	transition: left .2s ease;
	outline: 0 !important;
}
#protections-popup-tp-switch[enabled] {
	background: var(--gnome-switch-active-background) !important;
	padding-inline-start: 24px !important;
}
#protections-popup-tp-switch[enabled]::before {
	background: var(--gnome-switch-active-slider-background) !important;
	left: 24px;
}

/* Inline Switcher */
.calview-toggle {
	background: var(--gnome-selected-color) !important;
	border-radius: 9px !important;
	padding: 2px !important;
}

button.calview-toggle-item:not(#hack) {
	/* Base style is applied in buttons.css */
	box-shadow: none !important;
	height: 28px !important;
	margin: 0 !important;
	min-height: 28px !important;
}

button.calview-toggle-item:not(:first-child, #hack) {
	margin-left: 3px !important;
	position: relative !important;
}

button.calview-toggle-item:not(:first-child, [aria-selected="true"], :hover)::before {
	border-left: 1px solid var(--gnome-border-color);
	content: "";
	height: 22px;
	left: -2px;
	position: absolute;
	top: 3px;
	transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

button.calview-toggle-item:is(:active, [aria-selected="true"], :hover) + button.calview-toggle-item::before {
	opacity: 0;
}

button.calview-toggle-item:not([disabled="true"]):is(:active, [aria-selected="true"]):not(#hack) {
	background: var(--gnome-card-background) !important;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .07),
			    0 2px 6px 2px rgba(0, 0, 0, .03) !important;
}

@media (prefers-color-scheme: dark) {
	button.calview-toggle-item:not([disabled="true"]):is(:active, [aria-selected="true"]):not(#hack) {
		background: var(--gnome-selected-active-color) !important;
	}
}