/* Entries */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Entries */
link[href="chrome://messenger/skin/shared/search-bar.css"] + form > input,
.themeableSearchBox {
	-moz-appearance: none !important;
	background: var(--gnome-entry-background) !important;
	outline: 2px solid transparent !important;
	border: 0 !important;
	border-radius: 8px !important;
	box-shadow: none !important;
	color: var(--gnome-entry-color) !important;
	height: 34px !important;
	max-height: 34px !important;
	margin: 0 !important;
	padding: 6px !important;
	box-sizing: border-box;
	transition: outline 0.3s, outline-offset 0.3s;
}
.contentTabSecurity[src] + .contentTabUrlInput {
	padding-inline-start: 28px !important;
}

/* Entries focused */
.themeableSearchBox:focus {
	outline: 2px solid var(--gnome-focused-urlbar-border-color) !important;
	outline-offset: -2px;
}

/* Inactive window entries */
link[href="chrome://messenger/skin/shared/search-bar.css"] + form > input:-moz-window-inactive,
.themeableSearchBox:-moz-window-inactive {
	color: var(--gnome-inactive-entry-color) !important;
	outline: 2px solid transparent !important;
}

/* Entries with margin */
#quick-filter-bar .themeableSearchBox {
	margin: 0 3px !important;
}

/* Entry button */
.identity-box-button,
#tracking-protection-icon-container,
#notification-popup-box,
.urlbar-page-action,
.urlbar-icon {
	fill-opacity: 0.8 !important;
	transition: fill 0.3s, fill-opacity 0.3, opacity 0.3;
}

.identity-box-button:hover:not([open="true"]),
#tracking-protection-icon-container:hover:not([open="true"]),
#notification-popup-box:hover:not([open="true"]),
.urlbar-page-action:hover:not([open="true"]),
.urlbar-page-action:hover:not([open="true"]) .urlbar-icon,
.urlbar-icon:not([disabled]):hover {
    background: none !important;
	fill-opacity: 1 !important;	
}

.identity-box-button:hover:active,
.identity-box-button[open=true],
#tracking-protection-icon-container:hover:active,
#tracking-protection-icon-container[open=true],
#notification-popup-box:hover:active,
#notification-popup-box[open=true],
.urlbar-page-action:hover:active,
.urlbar-page-action[open=true],
.urlbar-page-action:hover:active .urlbar-icon,
.urlbar-page-action[open=true] .urlbar-icon {
	background: none !important;
	fill-opacity: 1 !important;	
}

/* Entries fixes */
link[href="chrome://messenger/skin/shared/search-bar.css"] + form > input {
	position: relative !important;
}

link[href="chrome://messenger/skin/shared/search-bar.css"] + form {
	height: 34px !important;
	max-height: 34px !important;
}

link[href="chrome://messenger/skin/shared/search-bar.css"] + form:focus-within {
	border-radius: 8px !important;
	outline: 2px solid var(--gnome-focused-urlbar-border-color) !important;
	outline-offset: -2px !important;
}
