/* Mail view theming */

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#folderPaneHeaderBar:not([hidden]),
#messageHeader {
	background: var(--gnome-toolbar-background) !important;
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
}

/* Sidebar */
#folderTree {
	padding: 6px !important;
}

#folderTree > li:first-child > .mode-container {
	border: 0 !important;
}

#folderTree > li:not(:first-child) > .mode-container {
	padding-top: 3px !important;
}

#folderTree .container {
	margin-inline: 0 !important;
}

.folder-count-badge {
	min-width: 18px !important;
}

/* Filters */
.list-header-bar:not([hidden]), #quick-filter-bar {
	background: var(--gnome-toolbar-background) !important;
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
}
#quick-filter-bar-filter-text-bar {
	padding-top: 12px !important;
}
#qfb-qs-textbox {
	max-width: 100% !important;
}

/* List */
#threadTree {
	background: var(--gnome-view-background) !important;
}
#threadTree .tree-table {
	background: transparent !important;
}
#threadTree[rows="thread-card"] .tree-table {
	padding: 12px !important;
}

#threadTree tr[is="thread-card"] {
	margin-bottom: 6px;
}

.thread-card-container {
	border: 0 !important;
	border-radius: 6px !important;
	margin-bottom: 2px;
}

tr[is="thread-card"][data-properties~="unread"]:not(.selected, :hover),
#threadTree [is="tree-view-table-body"] > :hover,
#threadTree [is="tree-view-table-body"] > .selected,
#threadTree [is="tree-view-table-body"]:focus > .selected,
#threadTree [is="tree-view-table-body"]:focus-within > .selected,
#threadTree [is="tree-view-table-body"] > .selected:focus-within {
	background: none !important;
}

#threadTree [is="tree-view-table-body"] > :hover .thread-card-container {
	background: var(--gnome-hover-color) !important;
}

#threadTree [is="tree-view-table-body"] > .selected .thread-card-container,
#threadTree [is="tree-view-table-body"]:focus > .selected .thread-card-container,
#threadTree [is="tree-view-table-body"]:focus-within > .selected .thread-card-container,
#threadTree [is="tree-view-table-body"] > .selected:focus-within .thread-card-container {
	background: var(--gnome-active-color) !important;
}

/* Mesagge */
#messagePane {
	background: var(--gnome-view-background) !important;
}

/* Message notifications */
notification-message {
	margin: 0 !important;
}
.calendar-notification-bar,
.container.infobar {
	border-radius: 0 !important;
	box-shadow: none !important;
	margin: 0 !important;
	padding: 6px !important;
}

.calendar-notification-bar,
.container.infobar {
	background-color: color-mix(in srgb, var(--gnome-accent-bg) 30%, var(--gnome-window-background)) !important;
	color: var(--gnome-window-color) !important;
}

/* Remove new message indicator dot */
.new-messages:not([data-server-type]) > .container > .icon::after,
tr[data-properties~="new"] .thread-card-container::after {
	display: none !important;
}
