/* Mail view theming */

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#folderPaneHeaderBar:not([hidden]),
#messageHeader,
#attachmentBar {
	background: var(--gnome-toolbar-background) !important;
}

#folderPaneHeaderBar:not([hidden]) {
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
}

#attachmentBar,
#attachmentView,
#attachmentList {
	border-top: 1px solid var(--gnome-toolbar-border-color) !important;
}

.list-header-title {
	font-size: inherit !important;
}

/* Sidebar */
#folderTree {
	padding: 6px !important;
}
#folderTree > li:first-child > .mode-container {
	border: 0 !important;
}
#folderTree > li:not(:first-child) > .mode-container {
	padding-top: 3px !important;
}
#folderTree .container {
	margin-inline: 0 !important;
}
#folderTree:focus-within li.selected > .container, #folderTree li.drop-target > .container {
	color: var(--gnome-view-color) !important;
	outline: 2px solid color-mix(in srgb, var(--gnome-accent) 50%, transparent) !important;
	outline-offset: -2px !important;
}
#folderTree:focus-within li.selected > .container > .unread-count {
	background-color: var(--folderpane-unread-count-background) !important;
	color: var(--folderpane-unread-count-text) !important;
}

.folder-count-badge {
	min-width: 18px !important;
}

/* Filters */
.list-header-bar:not([hidden]), #quick-filter-bar {
	background: var(--gnome-toolbar-background) !important;
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
}
#quick-filter-bar-filter-text-bar {
	padding-top: 12px !important;
}
#qfb-qs-textbox {
	max-width: 100% !important;
}

/* List */
#threadTree {
	background: var(--gnome-view-background) !important;
}
#threadTree .tree-table {
	background: transparent !important;
}
#threadTree[rows="thread-card"] .tree-table {
	padding: 12px !important;
}

#threadTree tr[is="thread-card"] {
	margin-bottom: 6px;
	height: 55px !important;
}
#threadTree tr button.twisty {
	min-width: 16px !important;
	min-height: 16px !important;
	padding: 0 !important;
}

.thread-card-container {
	border: 0 !important;
	border-radius: 6px !important;
	margin-bottom: 2px;
}
tr[is="thread-card"][data-properties~="new"] {
	box-shadow: none !important;
}

#threadTree[rows="thread-card"] tr[is="thread-card"][data-properties~="unread"]:not(.selected, :hover),
#threadTree[rows="thread-card"] [is="tree-view-table-body"] > :hover,
#threadTree[rows="thread-card"] [is="tree-view-table-body"] > .selected,
#threadTree[rows="thread-card"] [is="tree-view-table-body"]:focus > .selected,
#threadTree[rows="thread-card"] [is="tree-view-table-body"]:focus-within > .selected,
#threadTree[rows="thread-card"] [is="tree-view-table-body"] > .selected:focus-within {
	background: none !important;
}
#threadTree [is="tree-view-table-body"] > :hover .thread-card-container {
	background: var(--gnome-hover-color) !important;
}
#threadTree [is="tree-view-table-body"] > .selected .thread-card-container,
#threadTree [is="tree-view-table-body"]:focus > .selected .thread-card-container,
#threadTree [is="tree-view-table-body"]:focus-within > .selected .thread-card-container,
#threadTree [is="tree-view-table-body"] > .selected:focus-within .thread-card-container {
	background: var(--gnome-selected-color) !important;
	color: var(--gnome-view-color) !important;
}

.thread-card-row :is(.sender, .subject) {
	font-size: 1rem !important;
}
.thread-card-row .subject {
	font-size: 9pt !important;
}
.thread-card-row .date {
	font-size: 9pt !important;
	opacity: .8 !important;
}

#threadTree tr[data-properties~="junk"] :is(.sender, .date, .subject) {
	color: var(--color-red-60) !important;
}
#threadTree [data-properties~="new"] .thread-card-container .date,
#threadTree tr[data-properties~="junk"] :is(.date, .subject) {
	color: var(--gnome-view-color) !important;
	font-weight: normal !important;
}
#threadTree [data-properties~="new"] .thread-card-container :is(.subject, .sender) {
	color: var(--gnome-view-color) !important;
	font-weight: bold !important;
}

.multi-selected [is="tree-view-table-body"] > .selected.current,
.multi-selected [is="tree-view-table-body"]:focus > .selected.current {
	outline: 2px solid color-mix(in srgb, var(--gnome-accent) 50%, transparent) !important;
	border-radius: 6px !important;
	outline-offset: -2px !important;
}

/* Mesagge */
#messagePane {
	background: var(--gnome-view-background) !important;
}

#attachmentView,
#attachmentList {
	background: var(--gnome-view-background) !important;
}

/* Message notifications */
notification-message {
	margin: 0 !important;
}
.calendar-notification-bar,
.container.infobar {
	border-radius: 0 !important;
	box-shadow: none !important;
	margin: 0 !important;
	padding: 6px !important;
}
.notification-message {
	font-weight: bold !important;
	margin-block: 0 !important;
}
.infobar > .icon {
	margin: 0 !important;
}

.calendar-notification-bar,
.container.infobar {
	background-color: color-mix(in srgb, var(--gnome-accent-bg) 30%, var(--gnome-window-background)) !important;
	color: var(--gnome-window-color) !important;
}

/* Remove new message indicator dot */
.new-messages:not([data-server-type]) > .container > .icon::after,
tr[data-properties~="new"] .thread-card-container::after {
	display: none !important;
}
