/* Toolbox, a container for all toolbars (toolbox#navigator-toolbox) */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Toolbox colors */
#navigator-toolbox {
	border: 0 !important;
	background: none !important;
}

#toolbar-menubar {
	margin: 0 !important;
}

#toolbar-menubar,
#tabs-toolbar,
#status-bar,
.inline-toolbar,
.contentTabToolbar,
toolbar,
#event-toolbar {
	appearance: none !important;
	background: var(--gnome-toolbar-background) !important;
	border: 0 !important;
}
#tabs-toolbar,
.inline-toolbar,
.contentTabToolbar,
toolbar,
#event-toolbar {
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
}
#status-bar {
	border-top: 1px solid var(--gnome-toolbar-border-color) !important;
}
unified-toolbar:-moz-window-inactive,
#toolbar-menubar:-moz-window-inactive,
#tabs-toolbar:-moz-window-inactive,
#statusbar:-moz-window-inactive,
toolbar:-moz-window-inactive,
#event-toolbar:-moz-window-inactive {
	transition: background .2s ease-out;
}

toolbar:not([type="menubar"]) {
	padding: 6px 3px !important;
}

toolbar toolbarseparator:not([orient="vertical"]) {
	background: none !important;
	border: 0 !important;
	margin: 0 3px !important;
	width: 12px !important;
}

#navigator-toolbox:-moz-window-inactive label {
	opacity: 0.7 !important;
}

/* Sidebars */
#calSidebar {
	background-color: var(--gnome-window-background) !important;
}
.spaces-toolbar:not([hidden]) {
	border-right: 1px solid var(--gnome-border-color) !important;
}

#quick-filter-bar {
	padding: 6px 3px !important;
}
.sidebar-header {
	background: var(--gnome-toolbar-background) !important;
	border-bottom: 1px solid var(--gnome-toolbar-border-color) !important;
	height: auto !important;
	min-height: auto !important;
	padding: 6px !important;
}

/* Other toolbars */
.inline-toolbar,
.contentTabToolbar {
	padding: 6px 3px !important;
}

.mail-toolbox::after,
.contentTabToolbox::after {
	display: none !important;
}

/* Text link */
.text-link {
	color: var(--gnome-accent) !important;
}

/* Selection*/
*::-moz-selection {
	background-color: var(--gnome-selection-bg) !important;
}
