/* Tunderbird variables  */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:root {
	--selected-item-color: var(--gnome-active-color) !important;
	--selected-item-text-color: var(--gnome-window-color) !important;
	--new-folder-color: var(--gnome-accent) !important;
	--tabs-toolbar-box-shadow: none !important;
	--button-margin: 0 3px !important;
	--spaces-bg-color: var(--gnome-window-background) !important;
	--spaces-border-color: var(--gnome-border-color) !important;
	--spaces-total-width: calc(2 * var(--spaces-padding) + 34px + var(--messenger-body-border)) !important;
	--sidebar-background-color: var(--gnome-window-background) !important;
	--sidebar-border-color: var(--gnome-border-color) !important;
	--splitter-color: var(--gnome-border-color) !important;
	--viewBorderColor: color-mix(in srgb, currentColor 8%, transparent) !important;
	--viewBackground: var(--gnome-view-background) !important;
	--viewTodayBackground:  color-mix(in srgb, currentColor 8%, transparent) !important;
	--viewMonthDayOtherBackground: color-mix(in srgb, currentColor 2%, transparent) !important;
	--viewWeekendBackground: color-mix(in srgb, currentColor 4%, transparent) !important;
	--viewHighlightBorderColor: var(--gnome-accent-bg) !important;
	--thread-pane-header-padding: 6px !important;
	--folder-tree-header-padding: 6px !important;
	--tree-view-bg: var(--gnome-view-background) !important;
	--tree-view-color: var(--gnome-view-color) !important;
	--treeitem-border-radius: 6px !important;
	--treeitem-background-hover: var(--gnome-hover-color)  !important;
	--treeitem-background-selected: var(--gnome-active-color) !important;
	--treeitem-background-active: var(--gnome-accent-bg) !important;
	--listbox-hover: var(--gnome-hover-color) !important;
	--listbox-selected-bg: var(--gnome-view-selected-background) !important;
	--listbox-focused-selected-bg: var(--gnome-view-selected-background) !important;
	--listbox-selected-color: var(--gnome-view-color) !important;
}

:root .cui-widget-panel {
	--appmenu-fontsize-icon-size: 16px !important;
}
