/* Thunderbird variables  */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:root {
	--gnome-toolbar-padding: 6px;
	--gnome-toolbar-spacing: 6px;
	--gnome-button-radius: 9px;
	--gnome-button-size: 34px;
	--gnome-entry-radius: var(--gnome-button-radius);
	--gnome-entry-height: var(--gnome-button-size);
	--gnome-card-radius: 12px;
	--gnome-menu-radius: 9px;
	--gnome-menu-padding: 6px;
	--gnome-menu-item-padding: 12px;
	--gnome-popover-radius: calc(var(--gnome-menu-radius) + 6px);
	--gnome-dialog-radius: 18px; /* Alert dialog */
	--gnome-dialog-padding: 24px;

	/* Animations */
	--gnome-animation-time: 300ms;
	--gnome-tab-animation-time: 200ms;

	@media (prefers-reduced-motion) {
		--gnome-animation-time: 0ms;
		--gnome-tab-animation-time: 0ms;
	}
}

/* Overwrite Thunderbird's variables */
:root {
	--selected-item-color: var(--gnome-active-color) !important;
	--selected-item-text-color: var(--gnome-window-color) !important;
	
	--new-folder-color: var(--gnome-accent) !important;
	--button-margin: 0 calc(var(--gnome-toolbar-spacing) / 2) !important;

	--spaces-padding: var(--gnome-toolbar-padding) !important;
	--spaces-container-gap: var(--gnome-toolbar-spacing) !important;
	--spaces-bg-color: var(--gnome-window-background) !important;
	--spaces-border-color: var(--gnome-sidebar-border-color) !important;
	--spaces-total-width: calc(2 * var(--spaces-padding) + var(--gnome-button-size) + var(--messenger-body-border)) !important;
	
	--sidebar-header-spacing: var(--gnome-toolbar-padding) !important;
	--sidebar-background-color: var(--gnome-sidebar-background) !important;
	--sidebar-border-color: color-mix(in srgb, var(--gnome-window-color) 15%, transparent) !important;
	--splitter-color: var(--gnome-sidebar-border-color) !important;

	--viewBorderColor: color-mix(in srgb, currentColor 8%, transparent) !important;
	--viewBackground: var(--gnome-view-background) !important;
	--viewTodayBackground:  color-mix(in srgb, currentColor 8%, transparent) !important;
	--viewTodayLabelBackground: var(--gnome-accent-bg) !important;
	--viewMonthDayOtherBackground: color-mix(in srgb, currentColor 2%, transparent) !important;
	--viewWeekendBackground: color-mix(in srgb, currentColor 4%, transparent) !important;
	--viewHighlightBorderColor: var(--gnome-accent-bg) !important;

	--tree-view-bg: var(--gnome-view-background) !important;
	--tree-view-color: var(--gnome-view-color) !important;
	--treeitem-border-radius: var(--gnome-button-radius) !important;
	--treeitem-background-hover: var(--gnome-hover-color)  !important;
	--treeitem-background-selected: var(--gnome-active-color) !important;
	--treeitem-background-active: var(--gnome-active-color) !important;

	--listbox-hover: var(--gnome-hover-color) !important;
	--listbox-selected-bg: var(--gnome-selected-color) !important;
	--listbox-focused-selected-bg: var(--gnome-selected-color) !important;
	--listbox-selected-color: var(--gnome-view-color) !important;
	--listbox-border-radius: var(--gnome-button-radius) !important;
	--list-container-background-hover: var(--gnome-hover-color)  !important;
	--list-container-background-selected-current: var(--gnome-active-color) !important;
}

:root .cui-widget-panel {
	--appmenu-fontsize-icon-size: 16px !important;
}
