/* Gecko */
@import "icons/icons.css";
@import "colors/light.css";
@import "colors/dark.css";

/* Thunderbird */
@import "parts/variables.css";
@import "parts/icons.css";
@import "parts/toolbox.css";
@import "parts/csd.css";
@import "parts/headerbar.css";
@import "parts/tabsbar.css";
@import "parts/mail.css";
@import "parts/calendar.css";

@import "parts/buttons.css";
@import "parts/buttons-fixes.css";
@import "parts/entries.css";
@import "parts/controls.css";

@import "parts/popups.css";
@import "parts/popups-contents.css";
@import "parts/dialogs.css";

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Set theme version text in customization panel */
#unifiedToolbarCustomizationContainer::after {
	background: url(../icon.svg) 9px center no-repeat;
	background-size: 32px;
	content: "Thunderbird GNOME theme alpha";
	padding: 12px 9px 12px 50px;
	margin: auto;
}
